.layout-host,
:host.layout-host {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: auto 1fr;
  grid-template-areas: 'bar body';

  .layout-bar {
    grid-area: bar;
  }
  .layout-body {
    grid-area: body;
    overflow: auto;

    display: grid;

    grid-template-areas: 'actions form-actions' 'grid form';
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr auto;

    .layout-actions {
      grid-area: actions;
    }

    .layout-form-actions {
      grid-area: form-actions;
      display: grid;
      grid-auto-flow: column;
    }

    .layout-grid {
      grid-area: grid;
      display: grid;
    }

    .layout-form {
      grid-area: form;
      overflow: auto;
    }
  }
}

:host::ng-deep {
  .p-megamenu.p-megamenu-vertical {
    height: 100% !important;
    width: unset !important;
    border-radius: 0px !important;
  }
}
