<p-megaMenu [model]="items" class="bar" orientation="vertical"></p-megaMenu>

<div class="grid-cell grid">
  <ag-grid-angular
    class="ag-theme-alpine"
    [gridOptions]="pageGridDefinition"
    [rowSelection]="'multiple'"
    [rowData]="$any(sources) | async"
    [animateRows]="true"
    (selectionChanged)="selectionChanged($event)"
  ></ag-grid-angular>
</div>

<div class="grid-cell buttons">
  <button
    pButton
    (click)="onSave()"
    [disabled]="!selectedRow"
    type="button"
    label="Save"
  ></button>
  <button
    pButton
    [disabled]="!selectedRow"
    type="button"
    label="Delete"
  ></button>
</div>

<form fxFlex [formGroup]="reactiveForm" class="grid-cell monaco">
  <ngx-monaco-editor
    [ngModel]="selectedRow | json"
    (ngModelChange)="editedRow = $event"
    formControlName="code"
    [options]="defaultMonacoOptions"
  >
  </ngx-monaco-editor>
</form>
