<div class="form-wrapper" schedProgress #schedProgress="schedProgress">
  <form #signInForm>
    <div class="p-inputgroup">
      <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
      <input
        [disabled]="schedProgress.progress.toggled | async"
        (input)="clearError()"
        name="username"
        type="text"
        pInputText
        placeholder="Username"
      />
    </div>

    <div class="p-inputgroup">
      <span class="p-inputgroup-addon"><i class="pi pi-key"></i></span>
      <input
        [disabled]="schedProgress.progress.toggled | async"
        (input)="clearError()"
        name="password"
        type="password"
        pInputText
        placeholder="Password"
      />
      <button
        [disabled]="schedProgress.progress.toggled | async"
        type="button"
        pButton
        pRipple
        icon="pi pi-sign-in"
        (click)="signIn()"
      ></button>
    </div>
  </form>
  <span class="error-message" *ngIf="errorMessage | async">
    {{ errorMessage | async }}
  </span>

  <button
    pButton
    type="button"
    label="Sign up"
    class="p-button-link white-bg"
    routerLink="/signUp"
  ></button>
  <button
    pButton
    type="button"
    label="Go back"
    class="p-button-link white-bg"
    routerLink="/welcome"
  ></button>
</div>
