<p-megaMenu
  [model]="items"
  class="layout-bar"
  orientation="vertical"
></p-megaMenu>

<div class="layout-body" schedProgress #schedProgress="schedProgress">
  <div class="layout-grid">
    <ag-grid-angular
      *ngIf="gridOptions | async as _gridOptions"
      class="ag-theme-alpine"
      [gridOptions]="_gridOptions"
      [rowSelection]="'multiple'"
      [rowData]="$any(data) | async"
      [animateRows]="true"
      (gridReady)="onGridReady($event)"
    ></ag-grid-angular>
  </div>

  <div class="layout-actions">
    <div class="actions-wrapper">
      <button
        pButton
        icon="pi pi-plus"
        class="p-button-outlined"
        (click)="onInsert()"
      ></button>
      <button
        pButton
        icon="pi pi-copy"
        class="p-button-outlined"
        (click)="onCopy()"
      ></button>
      <button
        pButton
        icon="pi pi-trash"
        class="p-button-outlined"
        (click)="onDelete()"
      ></button>
    </div>
  </div>

  <div class="layout-form-actions actions-wrapper">
    <button
      pButton
      icon="pi pi-{{ iconType | async }}"
      [disabled]="(iconType | async) == 'none'"
      (click)="onSave()"
    ></button>
  </div>

  <ngx-monaco-editor
    style="width: 40vw"
    class="layout-form"
    *ngIf="!(formOptions | async)"
    [ngModel]="dynamicFormData | json"
    (ngModelChange)="dynamicFormDataOutput = parse($event)"
    [options]="defaultMonacoOptions"
  >
  </ngx-monaco-editor>
  <sched-form
    class="layout-form"
    *ngIf="formOptions | async as _formOptions"
    [formOptions]="_formOptions"
    [value]="dynamicFormData"
    (valueChange)="dynamicFormDataOutput = $event"
  >
  </sched-form>
</div>
