<ng-template
  #controlTemplate
  let-control="control"
  let-name="name"
  let-inset="inset"
>
  <div
    class="form-group"
    *ngIf="isInstanceOfFormGroup(control)"
    [ngStyle]="control.definition.style"
  >
    <div class="form-group-label">{{ control.definition.label || name }}</div>
    <ng-container *ngFor="let item of control.controls | keyvalue">
      <ng-template
        *ngTemplateOutlet="
          controlTemplate;
          context: { control: item.value, name: item.key, inset: inset + 1 }
        "
      ></ng-template>
    </ng-container>
  </div>
  <div
    class="form-array"
    *ngIf="isInstanceOfFormArray(control)"
    [style.grid-area]="control.definition.style?.['grid-area']"
  >
    <div class="form-array-label">
      <span>{{ control.definition.label || name }}</span>
      <span
        *ngIf="control.controls.length == 0"
        class="control-label label-button"
        (click)="onNewElement(control)"
        ><i class="pi pi-plus"></i
      ></span>
    </div>
    <div
      class="form-array-elements"
      *ngFor="let _control of control.controls; let i = index"
    >
      <span
        class="control-label label-button"
        (click)="onRemove($any(_control), i)"
        *ngIf="control.definition.min ?? 0 < control.controls.length"
        ><i class="pi pi-trash"></i
      ></span>
      <span
        class="control-label label-button"
        (click)="onCopy($any(_control), i)"
        *ngIf="control.definition.max ?? 99 > control.controls.length"
        ><i class="pi pi-plus"></i
      ></span>
      <ng-template
        *ngTemplateOutlet="
          controlTemplate;
          context: { control: _control, name: i, inset: inset + 1 }
        "
      ></ng-template>
    </div>
  </div>
  <span
    class="input-wrapper form-control"
    *ngIf="isInstanceOfFormControl(control)"
    [style.grid-area]="control.definition.style?.['grid-area']"
  >
    <label [for]="name" class="control-label">{{
      control.definition.label || name
    }}</label>
    <br />
    <input
      matInput
      pInputText
      type="text"
      class="p-inputtext-sm control-input"
      [id]="name"
      [formControl]="control"
    />
  </span>
</ng-template>

<form
  *ngIf="formGroup | async as _formGroup"
  [formGroup]="_formGroup"
  [style.grid-template-areas]="$any(_formGroup).definition?.style?.['grid-template-areas']"
  [style.display]="$any(_formGroup).definition?.style?.['display']"
  class="control-group"
>
  <ng-container *ngFor="let item of _formGroup.controls | keyvalue">
    <ng-template
      *ngTemplateOutlet="
        controlTemplate;
        context: { control: item.value, name: item.key, inset: 1 }
      "
    ></ng-template>
  </ng-container>
</form>
