:host {
  display: grid;
  align-items: baseline;
  padding: 1em;
}

.form-group,
.form-array {
  border-left: 2px solid #ced4da;
  padding-left: 2px;
}

.control-label {
  border-left: 1px solid currentColor;
  border-right: 1px solid currentColor;
  font-size: x-small;
  border: solid #ced4da;
  border-width: 1px;
  padding: 4px;
  border-radius: 4px;
}

.control-input:focus {
  box-shadow: unset;
}

.form-array,
.form-group {
  margin-left: 10px;
  margin-top: 10px;
}

.p-component:disabled {
  opacity: 1;
  background-color: #ededed;
}

.label-button {
  cursor: pointer;
}

.label-button > i {
  font-size: inherit;
  transition: 100ms;
}
.label-button:hover {
  background-color: #ced4da;
  color: white;
}
